In [5]:
## Q No. 1 :
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [4]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [21]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [22]:
## Q No. 2 :
'''
Python Loc(0 function
The loc() function is label based data selecting method which means that we have to pass the name
of the row or column which we want to select.

Python iloc() function
The iloc() function is an indexed-based selecting method which means that we have to pass an integer
index in the method to select a specific row/column. 
'''

'\nPython Loc(0 function\nThe loc() function is label based data selecting method which means that we have to pass the name\nof the row or column which we want to select.\n\nPython iloc() function\nThe iloc() function is an indexed-based selecting method which means that we have to pass an integer\nindex in the method to select a specific row/column. \n'

In [2]:
## Q No. 3 :
import pandas as pd

# Given DataFrame
df = pd.DataFrame({'A': [100, 200, 300, 400], 'B': [50, 60, 70, 80]})

# Reindexing using the variable reindex = [3, 0, 1, 2]
reindex = [3, 0, 1, 2]
new_df = df.reindex(reindex)

# Accessing the rows using loc and iloc
print(new_df.loc[2])
print(new_df.iloc[2])

A    300
B     70
Name: 2, dtype: int64
A    200
B     60
Name: 1, dtype: int64

In [30]:
# clearly,there is a difference that iloc() function takes inbuilt index while loc() takes visual values.

In [7]:
## Q NO. 4 :
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [8]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.459038  0.833433  0.405285  0.044914  0.468853  0.131233
2  0.531965  0.557454  0.152979  0.078284  0.386090  0.953473
3  0.379389  0.830859  0.268149  0.737422  0.102123  0.322998
4  0.598207  0.129920  0.790049  0.812220  0.531623  0.159538
5  0.736320  0.602665  0.548307  0.004976  0.651212  0.402308
6  0.092490  0.542740  0.858069  0.651771  0.504436  0.585850

In [78]:
df1["column_1"].mean()

0.8186465444298464

In [41]:
df1["column_2"].mean()

0.5585469271907005

In [42]:
df1["column_3"].mean()

0.5638652585646174

In [43]:
df1["column_4"].mean()

0.38321527921751847

In [44]:
df1["column_5"].mean()

0.4249121305726659

In [45]:
df1["column_6"].mean()

0.3841255953746767

In [50]:
df1["column_1"].std()

0.3065307804163659

In [48]:
df1["column_2"].std()

0.2334387483952406

In [79]:
df1["column_3"].std()

0.12277957937453074

In [13]:
## Q No. 5 :
df1.replace(df1.loc[2,["column_2"]] == 'rahil')

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.459038  0.833433  0.405285  0.044914  0.468853  0.131233
2  0.531965  0.557454  0.152979  0.078284  0.386090  0.953473
3  0.379389  0.830859  0.268149  0.737422  0.102123  0.322998
4  0.598207  0.129920  0.790049  0.812220  0.531623  0.159538
5  0.736320  0.602665  0.548307  0.004976  0.651212  0.402308
6  0.092490  0.542740  0.858069  0.651771  0.504436  0.585850

In [82]:
## Q No. 6 :
'''
Pandas Window functions are functions where the input values are taken from a “window” of one or more rows in a 
series or a table and calculation is performed over them. The word window means the number of rows between the 
two boundaries by which we perform calculations including the boundary rows.

Windows function in Pandas can be broadly divided into three categories namely- Aggregate, Ranking, and Value.
The group by aggregate function can be used to partition and group the entire data frame by some column. 
We can specify the column name in the parameter of the pandas.
'''

'\nPandas Window functions are functions where the input values are taken from a “window” of one or more rows in a \nseries or a table and calculation is performed over them. The word window means the number of rows between the \ntwo boundaries by which we perform calculations including the boundary rows.\n\nWindows function in Pandas can be broadly divided into three categories namely- Aggregate, Ranking, and Value.\nThe group by aggregate function can be used to partition and group the entire data frame by some column. \nWe can specify the column name in the parameter of the pandas.\n'

In [92]:
## Q No. 7 :
from datetime import date
  
# creating the date object of today's date
todays_date = date.today()
  
# fetching the current year, month and day of today
print("Current year:", todays_date.year)
print("Current month:", todays_date.month)

Current year: 2023
Current month: 6

In [96]:
## Q No. 8 :
import pandas as pd

# Prompt the user to enter the two dates
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

# Convert the input strings to pandas DateTime objects
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

# Calculate the time difference using pandas TimeDelta
time_diff = date2 - date1

# Extract the number of days, hours, and minutes from the time difference
days = time_diff.days
hours = time_diff.seconds // 3600
minutes = (time_diff.seconds % 3600) // 60

# Display the result
print("Time difference:")
print(f"Days: {days}")
print(f"Hours: {hours}")
print(f"Minutes: {minutes}")

Enter the first date (YYYY-MM-DD):  2023-03-1
Enter the second date (YYYY-MM-DD):  2023-05-6

Time difference:
Days: 66
Hours: 0
Minutes: 0

In [ ]:
## Q No. 9 :
import pandas as pd

# Prompt the user for file path, column name, and category order
file_path = input("Enter the CSV file path: ")
column_name = input("Enter the column name: ")
category_order = input("Enter the category order (comma-separated values): ").split(",")

# Read the CSV file
data = pd.read_csv(file_path)

# Convert the specified column to categorical data type with specified category order
data[column_name] = pd.Categorical(data[column_name], categories=category_order, ordered=True)

# Sort the data based on the specified column
sorted_data = data.sort_values(by=column_name)

# Display the sorted data
print(sorted_data)

In [ ]:
## Q No. 10 :

import pandas as pd
import matplotlib.pyplot as plt

# Prompt the user for file path
file_path = input("Enter the CSV file path: ")

# Read the CSV file
data = pd.read_csv(file_path)

# Group the data by product category and sum the sales for each month
grouped_data = data.groupby('Product Category')['Sales'].sum()

# Reshape the data to have each product category as a separate column
pivot_data = grouped_data.unstack()

# Plot the stacked bar chart
pivot_data.plot(kind='bar', stacked=True)

# Set the chart title and labels
plt.title('Sales by Product Category')
plt.xlabel('Month')
plt.ylabel('Sales')

# Display the chart
plt.show()

In [ ]:
## Q No. 11 :
import pandas as pd

# Prompt the user for the CSV file path
file_path = input("Enter the CSV file path: ")

# Read the CSV file into a pandas DataFrame
data = pd.read_csv(file_path)

# Extract the test scores from the DataFrame
test_scores = data['Test Score']

# Calculate the mean, median, and mode of the test scores
mean = test_scores.mean()
median = test_scores.median()
mode = test_scores.mode().values[0]

# Create a DataFrame to display the results
results = pd.DataFrame({'Statistic': ['Mean', 'Median', 'Mode'],
                        'Value': [mean, median, mode]})

# Display the results
print(results)